header {
  color: #f25e52;
}
h1, h2, h3 {
  font-family: Verdana;
}

p {
  font-family: Verdana;
}

ul {
  padding: 0px;
  margin: 0 0 0 0;
  border-bottom: 6px solid #eaea31;
  border-top: 6px solid #eaea31;
}

li {
  font-family: Verdana;
  height: 25px;
  display: inline;
  border-right: 8px solid white;
  border-left: 8px solid white;
}

li img {
  max-width: 350px;
  max-height: 400px;
  width: 30%;
  height: 30%;
}
.instructions {
  text-align: left;
}
section {
  text-align: center;
}
