h1, h2, h3 {
  font-family: Verdana;
}

p {
  font-family: Verdana;
}

ul {
  padding: 0px;
  margin: 0 0 0 0;
  float: left;
  border-bottom: 5px solid #eaea31;
  border-top: 5px solid #eaea31;
}

li {
  font-family: Verdana;
  height: 25px;
  display: inline;
  border-right: 5px solid #eaea31;
  border-left: 5px solid #eaea31;
}

li img {
  max-width: 350px;
  max-height: 400px;
  width: 30%;
  height: 30%;
}
